.reviews {
  padding: 35px 30px;
  overflow-x: hidden;

  &__title {
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    column-gap: 20px;
    transition: transform 0.5s ease-in-out;
  }

  &__footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}