:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-red: #FF4641;
  --color-light-bg: #F9F7F2;
  --color-light-gray: #9D9D9D;

  --border-radius: 2px;

  --font-family-base: 'KievitPro', sans-serif;

  --container-width: 880px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;

}